.container-postagem {
    width: 600px;
    border: 1px solid #D9D9D9;
    border-radius: 17px;
    text-align: left;
    margin: 0 0 34px 0;
}

.box-Postagem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 25px;
}

.titulos-box{
    display: flex;
    flex-direction: column;
}

.titulos-box h4 {
    font-weight: 500;
    color: #000000;
}

.subtitulo {
    gap: 5px;
    font-size: 16px;
    color: #646566;
}

.subtitulo .comunidades {
    color: #28A49C;
}

.subtitulo .autor {
    color: #28A49C;

}

.subtitulo .comunidades:hover{
    cursor: pointer;
}

.subtitulo .autor:hover {
    cursor: pointer;
}

.acoes-box{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.like-box{
    display: flex;
    align-items: center;
}

.like-box:hover{
    cursor: pointer;
    color: #28A49C;
}

.comentario-box{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.comentario-box i{
    display: flex;
    align-items: center;
}

.comentario-box:hover{
    cursor: pointer;
    opacity: 0.8;
}

.comentario-box i:hover{
    cursor: pointer;
    opacity: 0.9;
}

.compartilhar-box{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.compartilhar-box:hover{
    cursor: pointer;
    opacity: 0.8;
}

.link-comunidade{
    text-decoration: none;
}

.acoes-box{
    padding-bottom: 10%;
}


.content-box{
    margin-top: 3px ;
    --max-lines: 3;
    --line-height: 1.4;

    max-height: calc(var(--max-lines)*1em*var(--line-height));
    line-height: var(--line-height);

    overflow: hidden;
    position: relative;
}

.content-box:has(+ .expandir-texto:not(:checked))::before{
    content: "";
    position: absolute;
    height: calc(1em*var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    background: linear-gradient(to bottom, transparent, white);
}

.expandir-texto{
    appearance: none;
    text-decoration: underline;
    padding: .5em;
    border-radius: .25em;
    cursor: pointer;
    margin-top: 1rem;
}

.expandir-texto::before{
    cursor: pointer;
}

.expandir-texto::before{
    content: "Ler Mais";
}

.expandir-texto:checked:before{
    content: "Voltar";
}

.content-box:has(+ .expandir-texto:checked){
    overflow: visible;
    max-height: 100%;
}

@media only screen and (max-width: 650px) { 

    .container-postagem {
        width: 100%;
        overflow: auto;
    }

}