.content-comunidades{
  width: 70%;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text-primary);
}

.container-comunidades{
  display: flex;
  gap: 5vw;
  background-color: var(--background);
  color: var(--text-primary);
}

.container-comunidades .title-header{
  gap: 50%;
}

.container-comunidades .title-header h2{
  white-space: nowrap;
}

.container-comunidades .comunidades-box{
  width: 100%;
}

.content-comunidades{
  width: 70%;
}

.box-setas{
  display: flex;
  flex-direction: column;
}

.setas{
  display: flex;
  align-items: center;
}

.setas:hover{
  cursor: pointer;
}

.dropdown-menu-comunidades-container{
  position: relative;
  top: 2px;
  right: 88px;
}

.dropdown-menu-comunidades {
  position: absolute;
  z-index: 1;
  background-color: #121212;
  border-radius: 15px;
  width: 170px;
  box-shadow: 0px 6px 15px 6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 6px 15px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 15px 6px rgba(0,0,0,0.75);

}

.dropdown-menu-comunidades ul{
  border-radius: 15px;
  color: #09857E;
}

.dropdown-menu-comunidades ul .link{
  text-decoration: none;
  color: #09857E;
}

.dropdown-menu-comunidades ul li{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  list-style: none;
}

.dropdown-menu-comunidades ul li:hover{
  cursor: pointer;
  background-color: #322d2d;
}

.dropdown-menu-comunidades-none {
  display: none;
}

@media only screen and (max-width: 900px) {
  .container-comunidades{
      justify-content: center;
      width: 100%;
  }

  .content {
      width: 100%;
  }


  .menu-hamburger:hover{
      cursor: pointer;
  }
}

@media only screen and (max-width: 750px) {
  .container-comunidades .title-header{
      gap: 50%;
  }

  .container-comunidades{
     justify-content: center;
     width: 100%;
     margin-left: 5px ;
  }

  .content-comunidades{
      margin-top: 30px;
  }

  .content {
       width: 80%; 
  }

  .menu-hamburger:hover{
      cursor: pointer;
  }
}


