.login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
}

.login-background-none {
    display: none;  
}

.criar-comunidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    top: 50%;
    margin-top: -250px;
}

.criar-comunidade form {
    border-radius: 40px;
    width: 550px;
    display: flex;
    flex-direction: column;
    background-color: #01887f;
}


.header-criar-comunidade {
    display: flex;
    padding: 0 20px;
}

.box-header-comunidade {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.icone-voltar-comunidade {
    display: inline;
    color: #ffffff;
}

.icone-voltar-comunidade:hover{
    cursor: pointer;
    opacity: 0.9;
}

.criar-comunidade h2 {
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

.info{
    color: #7c7c7c;
    text-align: justify;
    font-size: 0.8rem;
}

.info-question{
    color: #7c7c7c;
}

.info-question:hover{
    cursor: pointer;
}


.criar-comunidade .Corpo {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text-primary);
    padding: 8%;
    border-radius: 0 0 40px 40px;
}


.criar-comunidade .Corpo a {
    text-decoration: none;
    color: #01887f;
}


.criar-comunidade .redirecionamento {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.criar-comunidade label {
    display: flex;
    position: relative;
}

.criar-comunidade input {
    height: 2.2rem;
    border: 1px solid #D9D9D9;
    margin: 3% 0;
}

.radio-criar-comunidade{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
    font-size: 0.9rem;
}

.box-btn-criar-comunidade{
    display: flex;
    justify-content: space-evenly;
}

.btn-criar-comunidade {
    width: 23%;
    align-self: center;
    text-align: center;
    background-color: #01887f;
    padding: 5px;
    margin: 10% 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.cancelar{
    background-color: #ffffff;
    color: #000;
}

/*RESPONSIVIDADE*/


@media only screen and (max-width: 1000px) {

    .criar-comunidade form {
        width: 400px;
    }
}

@media only screen and (max-width: 800px) {

    .criar-comunidade h2 {
        font-size: 1.4rem;
    }

    .criar-comunidade form {
        width: 350px;
    }
}

@media only screen and (max-width: 600px) {

    .criar-comunidade form {
        width: 280px;
    }

    .criar-comunidade label {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 500px) {

    .criar-comunidade form {
        width: 240px;
    }

    .criar-comunidade label {
        font-size: 0.6rem;
    }
}